<html>
  <body>
    <div class="container">
      <h1>Please Sign up</h1>
      <br>
      <form action="/add_data" method="post">
        <input type="text" placeholder="Name" name="name" value="{{
          request.form.name }}">
         <input type="text" placeholder="Address" name="address" value="{{
          request.form.address }}">
          <input type="number" placeholder="Mobile" name="mobile" value="{{
           request.form.mobile }}">
        <input class="btn btn-default" type="submit" value="add_data">
      </form>
      <h1> For search open url localhost:4000/search<h1>
    </div>
  </body>
</html>
